/* =======================================================================================================================
   games/blacjax/game.css - styles specific for this game
   =======================================================================================================================
   licenced under the Creative Commons Attribution 3.0 License: http://creativecommons.org/licenses/by/3.0/
   jax, jax games (c) copyright Kroc Camen 2005-2007. http://code.google.com/p/jaxgames/
*/

h1 {background-image: url("images/title.png");}

#page-title, #page-join
        {padding: 15px; width: 482px; height: 354px;}
#shared-gamearea
        {background-color: #008000; background-image: url("../-/felt.jpg");}

/* === game area ========================================================================================================= */
#game-deck, #game-discard, #game-run, #game-penalty
                {position: absolute; top: 144px;}
#game-deck      {left: 5px; width: 71px; height: 96px;
	         background-image: url("../-/cards/cards.png"); background-position: -923px -96px;}
.game-deck-card {position: absolute;}
#game-discard   {left: 436px; width: 71px; height: 96px; background-image: url("../-/cards/place.png");}
#game-penalty   {left: 5px; width: 71px; height: 96px; padding-top: 30px;
                 font: bold 30px Arial, Helvetica, sans-serif; text-align: center;}
#game-run       {left: 0; height: 96px; width: 430px;}
#game-label     {position: absolute; top: 237px; width: 71px; padding: 2px 0 2px 0; z-index: 50;
                 border; solid 1px black; -moz-border-radius: 8px; -webkit-border-radius: 8px;
                 font: normal 10px Tahoma; color: white; text-align: center; background-color: black; opacity: 0.75;}

#game-nearhand, #game-farhand 
                {position: absolute; left: 0; width: 512px; text-align: center;}
#game-farhand   {top: 31px;}
#game-nearhand  {top: 257px;}
.card-playable  {cursor: pointer;}
.card-hover     {top: -5px !important;}
.card-disabled  {cursor: not-allowed !important;}

/* === end of line ======================================================================================================= */