/* =======================================================================================================================
   games/blacjax/game.css - styles specific for this game
   =======================================================================================================================
   licenced under the Creative Commons Attribution 2.5 License: http://creativecommons.org/licenses/by/2.5/
   jax, jax games (c) copyright Kroc Camen 2005-2007
*/

h1      {background-image: url("images/title.png");}

#page-title, #page-user, #page-join
	{padding: 15px; width: 482px; height: 354px;}

#shared-gamearea {background-color: #008000; background-image: url("../-/felt.jpg");}

/* === game area ========================================================================================================= */
#game-deck, #game-face, #game-run, #game-penalty
                {position: absolute; top: 189px;}
#game-deck      {left: 5px; width: 71px; height: 96px; background-image: url("../-/cards/back.png");}
.game-deck-card {position: absolute;}
#game-face      {left: 436px; width: 71px; height: 96px; background-image: url("../-/cards/place.png");}
#game-penalty   {left: 5px; width: 71px; height: 96px; padding-top: 30px;
                 font: bold 30px Arial, Helvetica, sans-serif; text-align: center;}
#game-run       {left: 0; height: 96px; width: 430px;}
#game-label     {position: absolute; width: 71px; top: 282px; padding: 2px 0 2px 0; z-index: 50;
                 border; solid 1px black; -moz-border-radius: 8px; -webkit-border-radius: 8px;
                 font: normal 10px Tahoma; color: white; text-align: center; background-color: black; opacity: 0.75;}

#game-nearhand, #game-farhand 
                {position: absolute; left: 0; width: 512px; text-align: center;}
#game-farhand   {top: 76px;}
#game-nearhand  {top: 302px;}
.card-hover     {top: -5px !important; padding-bottom: 20px; cursor: pointer;}
.card-disabled  {cursor: not-allowed;}


#game-status      {top: 45px; left: 0; width: 512px; height: 384px; z-index: 999;}
#game-status .hv1 {width: 512px; height: 384px;}
#game-status-bar  {padding: 0; font: normal 11px Arial; text-align: center; color: white;
                   background-image: url("../-/mask.png"); overflow: hidden;
                   border: solid 2px #49d; border-left: 0; border-right: 0;}
#game-status-text p {padding: 10px 0 10px 0;}

/*#temp {position: absolute; top: 189px; left: 84px; width: 344px; height: 96px; background-image: url("../-/mask.png");}
#temp {position: absolute; top: 302px; left: 8px; width: 497px; height: 96px; background-image: url("../-/mask.png");}*/

/* === end of line ======================================================================================================= */