/* =======================================================================================================================
   games/othello/game.css - styles specific for this game
   =======================================================================================================================
   licenced under the Creative Commons Attribution 3.0 License: http://creativecommons.org/licenses/by/3.0/
   jax, jax games (c) copyright Kroc Camen 2005-2007
*/

h1      {background-image: url("images/title.png");}

#page-user, #page-join
	{padding: 15px; width: 482px; height: 354px;}
	
#page-title {background-image: url("images/titlebg.png");}
#title-fg   {width: 512px; height: 384px; background-image: url("images/titlefg.png"); background-repeat: no-repeat; background-position: bottom left;}

#title-clouds  {position: absolute; top: 160px; width: 512px; height: 143px; overflow: hidden; z-index: -1;}
#title-cloud   {position: relative; width: 1002px; height: 143px; background-image: url("images/titlecloud.png");}

#shared-gamearea {background-color: #008000; background-image: url("../-/felt.jpg");}

/* === board ============================================================================================================= */
#game-board, #title-board
                   {text-align: center; margin-top: 13px; width: 512px; height: 384px;
                    background-image: url("images/board.png"); background-repeat: no-repeat; background-position: top center;}
#game-board-table  {margin-left: 95px; margin-top: 18px; width: 321px; border-collapse: collapse; border: 0;}
#game-board td     {width: 40px; height: 40px; padding: 0; margin: 0; border: 0; vertical-align: middle; text-align: center;}
#game-board .hover {background-image: url("images/hover.png"); background-repeat: no-repeat; cursor: pointer;}

/* === piece counts ====================================================================================================== */
.game-paper        {text-align: center;}
#game-paper-me     {position: absolute; top: 266px; left: 0; width: 86px; height: 163px; padding: 30px 6px 0 0;
                    background-image: url("images/paperme.png"); background-repeat: no-repeat;}
#game-paper-them   {position: absolute; top: 45px; left: 420px; width: 86px; height: 163px; padding: 40px 0 0 6px;
                    background-image: url("images/paperthem.png"); background-repeat: no-repeat;}
.game-paper-pieces {font: normal 32px/52px Georgia, serif;}


/* === end of line ======================================================================================================= */