/* === chat ============================================================================================================== */
#shared-chatcol           {position: absolute; top: 45px; left: 512px; width: 127px; height: 384px;
                           border-left: solid 1px #010801; background-color: #dada96;}
#shared-chat              {font-size: 11px; color: #6E654D;}
#shared-chat-history      {height: 321px; overflow: auto; overflow-x: hidden;}

/* --- the individual messages --- */
#shared-chat p            {padding: 3px 2px 0 2px; margin: 0; font-style: italic; color: #7f7e45;}
#shared-chat .timestamp   {display: block; float: right;}
#shared-chat p img        {vertical-align: middle;}
#shared-chat blockquote   {margin: 0; padding: 0 3px 0 3px;}
#shared-chat blockquote p {font-style: normal; padding: 0;}
.chat-them                {background-color: #caca86;}

/* --- the input area --- */
#shared-chat-text         {background-color: #393939;}
#shared-chat-label        {position: absolute; width: 127px; margin-top: 16px;
                           text-align: center; font: italic 10px Tahoma, sans-serif; cursor: text;}
#shared-chat textarea     {width: 125px; height: 41px; margin: 0; padding: 0 0 0 2px; border: 0;
                           border-top: solid 1px #404040; font-family: tahoma, sans-serif; font-size: 10px; color: #404040;
                           background-image: url("../img/chatbg.png");}
#shared-chat-text p       {width: 124px; height: 21px; margin: 0; padding: 0 3px 0 0; text-align: right;
                           background-image: url("../img/barme.png");}

/* --- emote list --- */
#shared-chat-emote        {cursor: pointer;}
#shared-chat-emotes       {text-align: center; padding: 2px 0 2px 0; background-color: #171717;}
#shared-chat-emotes img   {padding: 2px; cursor: pointer;}